* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #e6e8ed;
    color: #666666;
    font-family: "Montserrat", sans-serif;
}
  
.text-primary {
    color: #666666;
}
  
.text-blue {
    color: #246dec;
}
  
.text-red {
    color: #cc3c43;
}
  
.text-green {
    color: #367952;
}
  
.text-orange {
    color: #f5b74f;
}
  
.text-grey {
    color: #898989;
}
  
.font-weight-bold {
    font-weight: 600;
}

.grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "sidebar header header header"
      "sidebar main main main";
    height: 100vh;
    flex: 1;
    overflow-y: auto; /* Ensure the container can scroll */
}

/* ---------- HEADER ---------- */

.header {
    grid-area: header;
    height: 70px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}
  
.menu-icon {
    display: none;
}

.logo {
    display: flex;
    gap: 30px;
    padding-left: 835px;
}

.logo .icon-revou {
    margin-top: 5px;
    width: 45px; 
    height: 45px; 
}

.logo .icon-pizza {
    width: 60px; 
    height: 60px; 
}

.logo .icon-km {
    margin-top: 17px;
    width: 50px; 
    height: 30px; 
}

/* CSS for the Filter Data button */
.header-left {
    align-self: flex-end;
    margin-bottom: 20px; 
    padding: 10px; 
    padding-left: 725px;
    border-radius: 5px; 
    color: #fff; 
}

.header-left label {
    color: #000000; 
}

.header-left select {
    margin-left: 10px; 
    background-color: rgb(255, 255, 255); 
    color: #333; 
    border: none; 
    padding: 5px 10px; 
    border-radius: 3px; 
}

.header-left button {
    margin-left: 10px; 
    background-color: rgb(252, 252, 252); 
    color: #333; 
    border: none; 
    padding: 5px 10px; 
    border-radius: 3px; 
}

.header-left button:hover {
    background-color: darkorange; 
}



/* Existing feedback styles */

.container {
    width: 22rem;
    background-color: #7c7c7c;
    border-radius: .5rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, .3);
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
}

.wrapper {
    margin: 2rem 0;
}

.text {
    margin-bottom: .5rem;
    font-size: 1em;
    color: #fdfdfd;
    text-align: center;
}

.emoji {
    font-size: 1.3em;
    display: flex;
    justify-content: center;
}

.emoji > div:not(:first-child) {
    margin-left: 1rem;
}

.emoji > div {
    cursor: pointer;
    transition: transform .2s ease-in;
}

.emoji > div:hover {
    transform: scale(1.4);
}

.textarea {
    width: 100%;
    display: block;
    background-color: rgb(250, 249, 246);
    color: #080808;
    border: none;
    resize: none;
    border: none;
    outline: none;
    height: 0;
    opacity: 0;
    transition: all .6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.textarea--active {
    padding: 1rem;
    opacity: 1;
    height: 6rem;
}

.btn {
    text-decoration: none;
    color: #eee;
    padding: .4rem 1rem;
    border-radius: 4px;
    background-color: #7c7c7c;
    position: absolute;
    right: .5rem;
    bottom: .5rem;
    display: none;
}

.btn--active {
    display: inline-block;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}



/* ---------- SIDEBAR ---------- */

#sidebar {
    grid-area: sidebar;
    height: 100%;
    background-color: #21232d;
    color: #9799ab;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

#closeSidebar {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #9799ab;
    font-size: 24px;
    cursor: pointer;
    display: none; 
}

.logo-sidebar {
    position:static;
    margin-left: 50px;
    padding-bottom: 0px;
}
.icon-pizza {
    width: 150px; 
    height: 150px; 
}

.sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px 2px 20px;
}
  
.sidebar-title > span {
    display: none;
}
  
.sidebar-brand {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
}
  
.sidebar-list {
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
}
  
.sidebar-list-item {
    padding: 20px 20px 20px 20px;
}
  
.sidebar-list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}
  
.sidebar-list-item a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #9799ab;
}
  
.sidebar-responsive {
    display: inline !important;
    position: absolute;
    z-index: 12 !important;
}

/* ----------Sidebar Dashboard--------- */
/* Existing styles */

.sidebar-list .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

.sidebar-list .dropdown-container a {
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    color: #b8b8b8;
}

.sidebar-list .dropdown-container a:hover {
    background-color: #575757;
    color: white;
}

.sidebar-list-item .dropdown-btn.active::after {
    content: '\25B2';
    float: right;
    margin-left: 5px;
}

.sidebar-list-item .dropdown-btn::after {
    content: '\25BC';
    float: right;
    margin-left: 5px;
}


/* ---------- MAIN ---------- */

.main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
}
  
.main-title {
    display: flex;
    justify-content: left;
}
  
.main-title > p {
    font-size: 20px;
}
  
.main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px 0;
}
  
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    background-color: #ffffff;
    box-sizing: border-box;
    border: 1px solid #d2d2d3;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}
  
.card:first-child {
    border-left: 7px solid #246dec;
}
  
.card:nth-child(2) {
    border-left: 7px solid #f5b74f;
}
  
.card:nth-child(3) {
    border-left: 7px solid #367952;
}
  
.card:nth-child(4) {
    border-left: 7px solid #cc3c43;
}
  
.card:nth-child(5) {
    border-left: 7px solid #898989;
}
  
.card > span {
    font-size: 20px;
    font-weight: 600;
}
  
.card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.card-inner > p {
    font-size: 18px;
}
  
.card-inner > span {
    font-size: 35px;
}
  
.main-cards .card:hover {
    background: #21232d;
}
  
.main-cards .card:hover .text-primary font-weight-bold {
    color: #000000;
}
  
.main-cards .card:hover .text-primary {
    color: #9799ab;
}

.number {
    font-size: 35px;
    font-weight: 500;
    color: #000000;
}

.Number.card-score-revenue{
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}

.Number.card-score-pizzasold{
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}

.number {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}

.charts {
  display: grid;
  padding: 20px;
  grid-gap: 20px;
}

.charts .chart-inner {
  display: grid;
  grid-template-columns: 3fr;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 7px 25px rgba(0,0 ,0 , 0.08);
}



.charts .chart-outer {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 30px;
  padding: 10px;
  width: 100%;
}

.charts .chart-outer .Top-chart {
    background: #fff;
    grid-gap: 15px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 7px 25px rgba(0,0 ,0 , 0.08);
    width: 100%;  
  }
  
  .charts .chart-outer .Buttom-chart {
    background: #fff;
    grid-gap: 15px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 7px 25px rgba(0,0 ,0 , 0.08);
    width: 100%;  
  }
  
  .charts .chart-outer .Sales-chart {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 7px 25px rgba(0,0 ,0 , 0.08);
    width: 100%;  
  }
  
  .charts .chart-outer .Peak-chart {
    background: #fff;
    grid-gap: 15px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 7px 25px rgba(0,0 ,0 , 0.08);
    width: 100%;  
  
  }
  
  .charts .chart-inner h2 {
    margin-bottom: 5px;
    font-size: 20px;
    color: #666;
    text-align: center;
  }
  
  .charts .chart-outer h2 {
    margin-bottom: 5px;
    font-size: 20px;
    color: #666;
    text-align: center;
  }


/* Gaya untuk kontainer tabel agar bisa di-scroll */
/* Container styling */
.table-container {
    background-color: #fff; 
    color: #fff; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-top: 20px; 
}

/* Heading styling */
.table-container h2 {
    color: #ffa500; 
    margin-bottom: 20px;
}

/* Label styling */
.table-container label {
    color: #ffa500; 
    font-weight: bold;
    margin-right: 10px;
}

/* Select dropdown styling */
.table-container select {
    background-color: #555; 
    color: #fff; 
    border: 1px solid #ffa500; 
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
}

/* Button styling */
.table-container button {
    background-color: #ffa500; 
    color: #333; 
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.table-container button:hover {
    background-color: #ff8c00; 
}

/* Table styling */
.table-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table-container th, 
.table-container td {
    border: 1px solid #ffa500; 
    padding: 12px;
    text-align: left;
}

.table-container th {
    background-color: #ffa500; 
    color: #333; 
}

.table-container td {
    background-color: #444; 
}

/* Table header styling */
.table-container th#nameHeader, 
.table-container th#quantityHeader {
    cursor: pointer;
    position: relative;
}

.table-container th#nameHeader:hover, 
.table-container th#quantityHeader:hover {
    background-color: #ff8c00; 
}

/* Add styles for sorting indicator */
.table-container th#nameHeader::after, 
.table-container th#quantityHeader::after {
    content: '';
    position: absolute;
    right: 10px;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333; 
}

.table-container th.sorted-asc::after {
    border-top: 0;
    border-bottom: 5px solid #333; 
}

.table-container th.sorted-desc::after {
    border-top: 5px solid #333; 
}





.monthSelect {
  vertical-align: middle;
  line-height: 1px;
}

.monthSelect select {
    padding: 10px 15px;
    border: 2px solid #ffd95e;
    border-radius: 5px;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #000;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.monthSelect select:hover {
    border-color: #ffb400; 
    background-color: #ffefcc; 
}

.monthSelect select:focus {
    border-color: #ffa500; 
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.2); 
}


/*Profile Page*/
@font-face {
	font-family: pop;
	src: url(./fonts/Poppins-Medium.ttf);
}
.main-profile{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: pop;
	padding: 50px;
}
.main-profile .heading-profile{
	font-size: 50px;
	position: relative;
    margin-bottom: 50px;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    z-index: 9999; 
}

.back-button:hover {
    background-color: #f0f0f0;
}

.back-button i {
    margin-right: 5px;
}

.heading-profile span{
	color: rgb(238, 169, 19);
}
.heading-profile::after{
	content: " ";
	position: absolute;
	width: 60%;
	height: 3px;
	left: 50%;
	transform: translateX(-50%);
	bottom: -5px;
	background-color: rgb(238, 169, 19);
}
.container-profile{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.container-profile .card-profile{
	width: 230px;
	height: 300px;
	position: relative;
	border-radius: 10px;
	background-color: #fff;
	overflow: hidden;
	box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.37);
	margin:15px;
}
.card-profile::after{
	content: " ";
	width: 100%;
	height: 40%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(238, 175, 1, 0.864);
}
.card-profile img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: fit;
	transition: .6s;
	box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.37);
	z-index: 99;
}
.card-profile:hover img{
	transform: scale(.50) translateY(-120px);
	border-radius: 10px;
}
.card-profile .details{
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	padding-bottom: 40px;
	transform: translateY(100%);
	transition: .6s;
}
.card-profile:hover .details{
	transform: translateY(0);
}
.details h3{
	font-size: 22px;
	color: rgb(238, 175, 1, 0.864);
}
.details p{
	font-size: 15px;
	color: #333;
	margin-bottom: 7px;
}
.details .social-links{
	display: flex;
}
.details .social-links a{
	width: 30px;
	height: 30px;
	margin: 0 5px;
	border-radius: 50%;
	color: #333;
	background-color: rgb(182, 182, 182);
	text-decoration: none;
	transition: .6s;
	display: grid;
	place-items: center;
	font-size: 17px;
}
.details .social-links a:hover{
	transform: rotate(360deg);
	background-color: rgb(238, 175, 1, 0.864);
	color: #fff;
}

/* ---------Animasi--------- */
.container-pizza {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; 
    top: 0; 
    right: 0; 
    width: 100%; 
    margin-bottom: 250px;
}

.face {
width: 100px; 
height: 100px; 
background-image: url('foto/Pizza_Place__6_-removebg-preview.png'); 
background-size: cover; 
border-radius: 50%; 
position: relative;
margin-left: 370px;
margin-top: 100px;
}


.eye {
width: 10px;
height: 20px;
border-radius: 100%;
background-color: #ffffff;
border: 2px solid #000000;
position: absolute;
top: -75px;
margin-top: 100px;
}

.eye.left {
left: calc(50% - 20px);
}

.eye.right {
right: calc(50% - 20px);
}

.eye-black {
--size: 10px;
width: var(--size);
height: var(--size);
border-radius: 50%;
background-color: #000000;
position: absolute;
bottom: 0;
left: calc(50% - var(--size) / 2);
transform-origin: top;
}

.eye-black::after {
content: "";
--size: 10px;
width: var(--size);
height: var(--size);
border-radius: 50%;
position: absolute;
left: 10px;
top: calc(50% - 10px);
}


.mouth {
--size: 10px;
width: var(--size);
height: var(--size);
border-radius: 50%;
border: 2px solid #000000;
position: absolute;
left: calc(50% - var(--size) / 2);
background-color: #b13f54;
transform-origin: top;
transition: all 1s ease;
margin-top: 80px;
}


.mouth::before {
content: "";
width: 2px;
height: 30px;
background-color: #000000;
position: absolute;
bottom: 100%;
left: calc(50% - 1px);
}


/* ---------- MEDIA QUERIES ---------- */


/* Medium <= 992px */
@media screen and (max-width: 800px) {
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 3fr;
      grid-template-areas:
        "header"
        "main"
        "charts";
    }
  
    #sidebar {
      display: none;
    }
  
    .menu-icon {
      display: inline;
    }
  
    .sidebar-title > span {
      display: inline;
    }

    .header-left {
        position: relative;
        margin-right: 10px;
        margin-bottom: 20px; 
        padding: 10px; 
        border-radius: 5px; 
        color: #fff; 
    }
    
    .main-cards {
      grid-template-columns: 1fr;
      gap: 10px;
      margin-bottom: 0;
    }
  
    .logo {
        display: flex;
        gap: 30px;
        padding-left: 100px;
    }

    .charts {
      display: block;
      grid-template-columns: 1fr;
      margin-top: 15px;
    }

    .charts .chart-outer, .Buttom-chart, .Top-chart, .Sales-chart, .Peak-chart {
        display: block;
        margin-top: 15px;
        width: 100%;
    }

    .table-container {
        background-color: #fff; 
        color: #fff; 
        padding-left: 0px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        margin-top: 20px; 
        margin-left: 0px;
    }

    .table-container table {
        width: auto;
        border-collapse: collapse;
        margin-top: 20px;
    }

    .container-pizza {
        height: 10vh;
        display: flex;
        position: absolute; 
        top: 0; 
        right: 100px;
        width: 80%;
        margin-bottom: 250px;
    }

    .face {
        width: 50px;
        height: 50px;
        margin-top: 70px;
        margin-left: 280px;
    }

    .eye {
        width: 10px;
        height: 20px;
        border-radius: 100%;
        background-color: #ffffff;
        border: 2px solid #000000;
        position: absolute;
        top: -90px;
        margin-top: 100px;
        }
        
        .eye.left {
        left: calc(50% - 12px);
        }
        
        .eye.right {
        right: calc(50% - 12px);
        }
        
        .eye-black {
        --size: 10px;
        width: var(--size);
        height: var(--size);
        border-radius: 50%;
        background-color: #000000;
        position: absolute;
        bottom: 0;
        left: calc(50% - var(--size) / 2);
        transform-origin: top;
    }

    .mouth {
        --size: 5px;
        width: var(--size);
        height: var(--size);
        border-radius: 50%;
        border: 2px solid #000000;
        position: absolute;
        left: calc(50% - var(--size) / 2);
        background-color: #b13f54;
        transform-origin: top;
        transition: all 1s ease;
        right: 3px;
        margin-top: 40px;
        }
        
        
        .mouth::before {
        content: "";
        width: 2px;
        height: 15px;
        background-color: #000000;
        position: absolute;
        bottom: 100%;
        left: calc(50% - 1px);
        }

    .main-profile .heading-profile{
        font-size: 20px;
        position: relative;
        margin-bottom: 50px;
    }

    .back-button {
        position: absolute;
        top: 20px;
        left: 20px;
        display: inline-block;
        padding: 5px 10px;
        background-color: #ffffff;
        border: 1px solid #000000;
        border-radius: 5px;
        text-decoration: none;
        color: #000000;
        font-size: 10px;
        z-index: 9999; 
    }
  }